:root {
    --main-color: slateblue;
}

body {
    font-family: sans-serif;
    margin: 0;
}

.a__block {
    background: var(--main-color);
    color: white;
    text-decoration: none;
    margin: 10px;
    border: 1px solid white;
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

header {
    background: var(--main-color);
    color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    height: 250px;
}

header nav {
    top: 0;
    position: sticky;
}

header h1 {
    text-align: center;
}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.subtitle-section {
    text-align: center;
}

.subtitle-section h2 {
    color: var(--main-color);
    font-weight: normal;
}

section article {
    display: flex;
    flex-flow: row wrap;
}

section .article__reversed {
    display: flex;
    flex-flow: row-reverse wrap;
}

section article div {
    background-color: #f0f0f0;
    flex: 7;
    padding: 5% 0 0 5%;
}

section article img {
    flex: 9;
}

section article h3 {
    margin: 0;
}
section article p {
    margin: 0;
}

.destination {
    margin: 0 10% 0 10%;
    padding: 5px; /*un mic gap fara padding*/
}
.destination h3 {
    color: var(--main-color);
    margin: 10px 0 10px 0;
}

.destination p {
    margin: 10px 0 10px 0;
}

.destination div {
    padding: 1.5%;
}

footer {
    background: var(--main-color);
    color: white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    height: 50px;
}

